[Unit]
Description=Run the flask service
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/
ExecStart=/usr/local/bin/flask run -h 0.0.0.0 -p 80
Environment=FLASK_APP=web/application.py
Restart=always

[Install]
WantedBy=multi-user.target
